* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  font-size: 1.4em;
  background-color: darkseagreen;
  list-style: none;
}

.nav_item {
  text-decoration: none;
  color: #030303;
}

.nav_item:hover {
  color: #eeeeee;
}

#app {
  height: 100%;
  text-align: center;
  padding: 2em 1em;
}